* {
    margin: 0;
    padding: 0;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: #181A1C;
}
/*ESTILO-DO-HEADER*/
header {
    padding: 10px 10%;
    display: grid;
    grid-template-areas: 'pumpkins menu btn-contato';
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.881);
    z-index: 2
}

#pumpkins {
    width: 75px;
    height: 75px;
}

header a:hover #pumpkins {
    background-color: rgba(179, 46, 146, 0.434);
    filter: hue-rotate(1000deg);
    transition: all 2s linear;
    box-shadow: 0 0 10px rgba(179, 0, 255, 0.562);
    border-radius: 50%;
}

header .menu li {
    list-style: none;
    display: inline-block;
}

header .menu li a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 18px;
    color: #585858;
    transition: .2s;
}

header .menu li a:hover {
    color: #fff;
}

.menu-item {
    display: inline-block;
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave */
}

.menu-item:hover {
    transform: scale(1.05);
    /* Aplica o efeito de transformação */
}

header .menu ul li {
    position: relative;
    width: 100px;
}

.btn-contato button {
    padding: 10px 35px;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: bold;
    background-color: rgba(255, 166, 0, 0.826);
    color: #585858;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;
    border: none;
}

.btn-contato a {
    text-decoration: none;
}

.btn-contato button:hover {
    background-color: rgb(72, 0, 255);
    color: #fff;
}

.home-poster {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../imgs/kuromi.png');
    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    font-size: 2em;
}

.inside-poster {
    position: relative;
    padding: 30px;
    align-items: center;
}

.inside-poster span {
    color: rgb(73, 0, 128);
    font-weight: bold;
}

.inside-poster p{
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    text-align: justify;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-bg {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1em auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.523);
    max-width: 1280px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0.6em;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
    margin: 1em auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.523);
    max-width: 550px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0.6em;
    text-align: justify;
    align-items: center;
    z-index: 1;
}

/*sombreado no titulo*/

.text-content h2, p {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 15px;
}

.about img {
    max-width: 200px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-top: 1.5vh;
}

/*beuatiful button*/
.beautiful-button {
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    color: white;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    margin: 2em;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}

.beautiful-button a {
    text-decoration: none; 
}

.beautiful-button:hover {
    background: linear-gradient(to bottom, #2c2f63, #5b67b7);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}

.beautiful-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}